# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PRAKTIKA 2020\Code Prak\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
